<h1>Novo post</h1>

<%= form_with model: @post do |f| %>
  <p>
    <%= f.label :Título %> <br>
    <%= f.text_field :title %> 
  </p>
  <p>
    <%= f.label :Texto %> <br>
    <%= f.text_field :body %> 
  </p>
  <button>
    <%= f.submit 'Enviar' %>
  </button>
<% end %>
