<h1>Novo post</h1>

<%= form_with model:@post, url: posts_path do |f| %>
  <p>
    <%= f.label :Título %> <br>
    <%= f.text_field :title %> 
  </p>
  <p>
    <%= f.label :Texto %> <br>
    <%= f.text_field :body %> 
  </p>
  <p>
    <%= f.submit 'Enviar' %> <br>
  </p>
<% end %>
