<!DOCTYPE html>
<html>
  <head>
    <title>Blog Rails Training</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do%>
        <%= image_tag 'logo.png' %>
        <% end %>
      </div>
  
      <ul>
        <li class="category"> Website</li>
        <li><%= link_to 'Blog', root_path %></li>
        <li>About</li>
      </ul>
      
      <ul>
        <li><a href="https://github.com/account"></a>Github</li>
      </ul>
    </div>

    <div id="main_content">
      <div id="header">
        <p>All Posts</p>
        <p>About</p>
        <div class="buttons">
          <button class="button">
            <%= link_to "Novo Post", new_post_path %>
          </button>
          <button class="button">Sair</button>
        </div>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <% end %>

      <%= yield%>
    </div>

  </body>
</html>
